header {
    height: auto;
    width: auto;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: rgb(17, 17, 41);
    color: white;
    font-size: 70px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.intro-text {
    height: auto;
    background-color: rgb(3, 146, 146);
}

.intro {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.origin {
    height: auto;
    width: auto;
    margin: auto;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #D3D3D3;
    margin-top: 20px;
}

.input-text {
    height: auto;
    width: 100%;
}

textarea {
    width: 100%;
    height: auto;
    border: 10px solid gray;
    border-radius: 10px;
}

.timer {
    font-size: 40px;
    font-weight: bold;
    float: left;
}

#reset {
    background: transparent;
    border: 10px solid rgb(248, 113, 3);
    color: rgb(248, 113, 3);
    float: right;
}

#reset:hover {
    background: rgb(248, 113, 3);
    border: 10px solid rgb(248, 113, 3);
    color: white;
}